

.main_content_container {
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: column;
    top: 40px;
    height: 99%;
    min-width: 70%;
    background-color:rgba(255, 255, 255, 0.904);
    background-position: bottom;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-left: #FE5000 solid 1px;
    border-right: #FE5000 solid 1px;
}




.songlist_item {
    display: flex;
    border-bottom: #333 solid 1px;
    position: relative;
    flex-direction: row;
    justify-content:space-evenly;
    background-color:rgba(255, 255, 255, 0.904);
    width: 100%;
    height: 200px;
    border-left: #FE5000 solid 1px;
    border-right: #FE5000 solid 1px;
    border-bottom: #FE5000 solid 1px;

}

.song_detail_box{
    display: flex;
    flex-direction: column;
}


.song_img{
    max-width: 100px;
    max-height: 100px;
}


.audio_div {
    display: flex;
    position: relative;
    align-items: center;


}

.audio_player {
    display: block;
    width: 1000px;

}

@media only screen and (max-width: 750px) {
    .audio_player{
        width: 650px;
    }

    .main_content_container{
        width: auto;
    }


}

@media only screen and (max-width: 500px) {
    .audio_player{
        width: 450px;
    }

    .main_content_container{
        width: auto;
    }

}
