.page_not_found {
    display: flex;
    position: fixed;
    z-index: 0;
    flex-direction: column;
    top: 5%;
    height: 99%;
    width: 70%;
    background-image: url('../../../public/images/image_1.jpg');
    background-color: aqua;
    background-position: bottom;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
