#profile_container{
    /* background-color: aqua; */
    width: 70%;
    height: 90vh;
    display: grid;
    position: relative;
    grid-template-areas:
                "a b b"
                "a b b"
                "c c c";
}

#profile_container > #a {
    background-color: yellow;
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile_container > #b {
    background-color: red;
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#a > .profile_image{
    background-color: blue;
    display: block;
    position: absolute;
    top: 15%;
    height: 200px;
    width: 200px;
}

#a > .username {
    background-color: aqua;
    position: absolute;
    top: 37%;
}

#b > .profile_label {
    background-color: aqua;
    position: absolute;
    top: 5%;

}

#b > .user_details_box {
    background-color: lightgreen;
    position: absolute;
    top: 15%;
    height: 200px;
    width: 500px;
}
