.upload_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_btn {
    border: 0.5px black solid;
    position: relative;
    background-color: #FE5000;
    color: whitesmoke;
    width: 90px;
    height: 25px;
    margin: 3px;
}

.submit_btn:hover {
    border: white solid 0.5px;
}

.upload_error_msg {
    color: red;
}

.support_label > p{
    color: black;
    font-size: small;
}
