#content-container{
    display: flex;
    position: fixed;
    z-index: 0;
    flex-direction: column;
    top: 5%;
    height: 99%;
    width: 70%;
    background-image: url('../../../public/images/image2.jpg');
    background-position: bottom;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.splash-img {
    display: block;
    width: 80%;
    height: 100%;
}

.demo-btn {
    border: 0.5px black solid;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FE5000;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    margin: 3px;
    font-size: larger;

}

.demo-btn:hover {
    border: whitesmoke solid 0.5px;
}

.splash-btn:hover {
    border: white solid 1px;
}

#footer-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    background-color: #333;
    bottom: 0;
    width: 70%;
}

.footer_element{
    display: flex;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}

.footer-icon{
    font-size: 40px;
}
.splash_txt {
    color: whitesmoke;
}

.about_txt{
    color: whitesmoke;
    margin: 5px;
    text-decoration: none;
}

.technologies{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;


}

.technologies > div {
    color: whitesmoke;
    margin: 5px;
    font-size: 12pt;

}
