#content-container{
    display: flex;
    position: fixed;
    z-index: 0;
    flex-direction: column;
    top: 5%;
    height: 99%;
    width: 70%;
    background-image: url('../../images/image_1.jpg');
    background-position: bottom;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.splash-img {
    display: block;
    width: 80%;
    height: 100%;
}

.demo-btn {
    border: 0.5px black solid;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FE5000;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    margin: 3px;
    font-size: larger;

}

.demo-btn:hover {
    border: whitesmoke solid 0.5px;
}

.splash-btn:hover {
    border: white solid 1px;
}

#footer-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #333;
    bottom: 0;

}

.footer-links {
    color: whitesmoke;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
