
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 70%;
    height: 55px;
    z-index: 5;
}

.logo_btn {
    height: 20px;
    background: transparent;
    border: 0;
    color: whitesmoke;
    font-size: 50px;

}


.nav-labels {
    color: whitesmoke;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    letter-spacing: 4px;

}

#nav-center{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 18px;

}

#nav-right {
    right: 100px;
}

.navbar-button {
    border: 0.5px black solid;
    position: relative;
    background-color: #FE5000;
    color: whitesmoke;
    width: 90px;
    height: 25px;
    margin: 3px;
}

.navbar-button:hover {
    border: white solid 0.5px;
}


#profile_link {
    color: whitesmoke;
    text-decoration: none;
}

#profile_link:hover {
    color:#FE5000;

}

.logo_btn:hover {
    color: #FE5000;
}

.bio_textbox {
    
}
